@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* shared styles */
  .dark-1{
    color:#131313 ;
  }
  .dark-2{
    color:#424242 ;
  }
  .dark-3{
    color: #727272;
  }
  .bg-color{
    background-color: rgba(255, 144, 14, 0.1);
  }

  .btn-primary{
    background-color: #FF900E;
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
   
  }
  .section-title{
    max-width: 470px;
    font-size: 3rem;
    font-weight: 700;
  }
  main{
    max-width: 1440px;
    margin: 0 auto;
  }
  section{
    margin-top: 130px;
  }
  
  /*navbar styles */
  .navbar{
    display: flex;
    justify-content: space-between;
    /* margin: 0 30px; */
  }
  .menu{
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .nav-item{
    list-style: none;
    
  }
  .nav-link{
    text-decoration: none;
  }

  .brand{
    font-weight: 700;
    font-size: 3rem;
  }
  /* Banner styles */

  .navbar, .banner{
    max-width: 1440px;
    /* height: 1320px; */
    margin: 0 auto;
  }

  .banner-content{
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .banner-title{
    font-weight: 700;
    font-size: 4rem;
  }
  .banner-description{
    margin-bottom: 32px;
  }
  .banner-img{
    width: 100%;
  }

  /* teams section styles */
  .teams{
    display: flex;
    align-items: center;
    gap: 75px;
    
  }
  .team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .our-features{
    max-width: 530px;
  }
  
  
  #quick-list{
    font-weight: 500;
  }
  
  #features{
    color: #FF900E;
  }
  /* some facts styles */

  .fact-content{
    margin-bottom: 45px;
  }

  .fact-description{
    max-width: 540px;
  }
  .fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
  .fact-card{
    width: 240px;
    height: 240px;
    box-sizing: border-box;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 35px 45px;
  
  }
  .fact-number{
    font-size: 2rem;
    font-weight: 600;
  }
  .fact-name{
    font-size: 1rem;
    font-weight: 600;
  }
  /* sponsors related styles */
  .sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
  }
    .sponsor-companies {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
  
      /* image color change in css */
      filter: grayscale(100%);
    }
    /* footer styles */
    .footer{
      max-width: 1440px;
      margin: 20px auto;
      border-radius: 8px;
      
     
      
    }
    .footer-description{
      text-align: center;
    }
   

  /* responsive media query */

    @media screen and (max-width: 576px) {
      .navbar, .menu, .teams{
        flex-direction: column;
      }
      .brand {
        margin: 20px auto;
      }
      /* body{
        justify-items: center;
      } */
      .banner-title , .fact-content{
        margin-left: 20px;
       
      }
      
      .team-img-container, .fact-container , .sponsor-companies{
        grid-template-columns: 1fr;
      }
      .fact-container{
        justify-items: center;
        gap: 24px;
      }
      .sponsor-companies{
        justify-items: center;
        gap: 50px;
      }
      .our-features{
        margin-left: 20px;
      }
      .footer{
       margin: 40px auto;
      }
  
    
    }

    /* Medium device responsive */
    @media screen and (min-width:576px) and (max-width:992px) {

      .teams{
        flex-direction: column;
      }
      .our-features{
        margin-left: -200px;
      }
      .fact-container , .sponsor-companies{
        justify-items: center;
        grid-template-columns: repeat(2,1fr);
        gap: 24px;
      }
      .fact-content{
        margin-left: 80px;
      }
      .footer{
        justify-items: center;
      }
      
  
    }

    